<div class="container" style="text-align: center; margin: 2%">
  <div><h1>{{ edicion ? 'Modificar Prenda' : 'Registro de Prenda' }}</h1></div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="hid" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="hnombre" />
          <mat-error *ngIf="form.get('hnombre')?.hasError('required')">El nombre es obligatorio</mat-error>
        <mat-error *ngIf="form.get('hnombre')?.hasError('maxlength')">
          El nombre no puede superar los 50 caracteres
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="hdescripcion" />
          <mat-error *ngIf="form.get('hdescripcion')?.hasError('required')">La descripción es obligatoria</mat-error>
        <mat-error *ngIf="form.get('hdescripcion')?.hasError('maxlength')">
          La descripción no puede superar los 200 caracteres
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Precio</mat-label>
          <input matInput formControlName="hprecio" />
          <mat-error *ngIf="form.get('hprecio')?.hasError('required')">El precio es obligatorio</mat-error>
        <mat-error *ngIf="form.get('hprecio')?.hasError('min')">El precio no puede ser menor que 0</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Talla</mat-label>
          <input matInput formControlName="htalla" />
          <mat-error *ngIf="form.get('htalla')?.hasError('required')">La talla es obligatoria</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Stock</mat-label>
          <input matInput formControlName="hstock" />
          <mat-error *ngIf="form.get('hstock')?.hasError('required')">El stock es obligatorio</mat-error>
        <mat-error *ngIf="form.get('hstock')?.hasError('min')">El stock no puede ser menor que 0</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label># de Uso</mat-label>
          <input matInput formControlName="hvecesusada" />
          <mat-error *ngIf="form.get('hvecesusada')?.hasError('required')">El número de veces usada es obligatorio</mat-error>
        <mat-error *ngIf="form.get('hvecesusada')?.hasError('min')">El número de veces usada no puede ser menor que 0</mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Enlace de Imagen</mat-label>
        <input matInput formControlName="himagen" />
        <mat-error *ngIf="form.get('himagen')?.hasError('required')">La imagen es obligatoria</mat-error>
    </mat-form-field>
    <div *ngIf="form.get('himagen')?.valid" class="image-preview">
      <img [src]="form.get('himagen')?.value" alt="Vista previa de la imagen" class="imagen-img" />
    </div>
    <br />
      <mat-form-field>
          <mat-label>Fecha de Creación</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hfechacreacion" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <br />
      <mat-form-field>
          <mat-label>Fecha de Modificación</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="hfechamodificacion" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Creado por</mat-label>
          <input matInput formControlName="hcreadopor" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
          <mat-label>Modificado por</mat-label>
          <input matInput formControlName="hmodificadopor" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Tipo de Prenda</mat-label>
        <mat-select formControlName="htipoprenda">
          @for (tp of listaTipoPrendas; track tp) {
          <mat-option [value]="tp.id_tipo_prenda">{{ tp.tipo_prenda }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
          <mat-label>Tienda</mat-label>
          <mat-select formControlName="htienda">
            @for (ti of listaTiendas; track ti) {
            <mat-option [value]="ti.id_tienda">{{ ti.nombre }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br />
      <div>
        <button mat-flat-button class="custom-button">{{ edicion ? 'Modificar' : 'Registrar' }}</button>
      </div>
    </form>
  </div>
</div>
