<div class="container">
  <h1>Reporte de Inversión de Prendas</h1>
  <div style="height: 400px; width: 100%; max-width: 600px; margin: 0 auto;">
    <canvas baseChart
      [datasets]="barChartData"
      [type]="barCharType"
      [options]="barCharOptions"
      [labels]="barChartLabels">
    </canvas>
  </div>
  <!-- Tabla con los datos -->
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th>Tipo de Prenda</th>
        <th>Monto Total Recaudado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tablaDatos">
        <td>{{ item.tipo_prenda }}</td>
        <td>{{ item.total_recaudado }}</td>
      </tr>
    </tbody>
  </table>
</div>
