.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    background-color: #f7f7f7; 
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  h1 {
    color: #7e1818; 
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #7e1818; 
    color: rgb(223, 126, 126);
    font-weight: bold;
  }
  
  td {
    background-color: white;
    color: #333;
    border-bottom: 1px solid #5e2626;
  }
  
  tr:hover {
    background-color: #0b0505;
    cursor: pointer;
  }
  
  .mat-elevation-z8 {
    border-radius: 10px;
  }
  
  .mat-header-cell, .mat-cell {
    font-size: 1rem;
    padding: 15px;
  }
  
  .mat-header-row, .mat-row {
    border-bottom: 1px solid #472d2d;
  }
  
  .mat-header-row {
    background-color: #7e1818;
  }
  
  .mat-cell:hover {
    background-color: #f0f0f0; 
  }
  