.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;  /* Reducido de 900px */
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #405A44;
    font-size: 2rem;  /* Ajuste de tamaño de fuente */
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  canvas {
    max-height: 400px;  /* Limitar altura del gráfico */
    max-width: 600px;   /* Limitar ancho del gráfico */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #405A44;
    color: #90B7A1;
    font-weight: bold;
  }
  
  td {
    background-color: white;
    color: #333;
    border-bottom: 1px solid #B3A284;
  }
  
  tr:hover {
    background-color: #0b0505;
    cursor: pointer;
  }
  
  .mat-elevation-z8 {
    border-radius: 10px;
  }
  
  .mat-header-cell, .mat-cell {
    font-size: 1rem;
    padding: 15px;
  }
  
  .mat-header-row, .mat-row {
    border-bottom: 1px solid #3C4640;
  }
  
  .mat-header-row {
    background-color: #3C4640;
  }
  
  .mat-cell:hover {
    background-color: #F2EDDE;
  }
  