<div class="container" style="text-align: center; margin: 2%">
    <div><h1>Registro de Catalogo</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
        <br />
        <mat-form-field>
            <mat-label>Fecha Creacion</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="hi_fecha_creacion" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1" ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Fecha Modificacion</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="hi_fecha_modificacion" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Outfit</mat-label>
            <mat-select formControlName="hou" >
              @for (m of listaOutfit; track m) {
              <mat-option [value]="m.id_outfit">{{ m.nombre }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  