<div class="container" style="margin: 10%">
  <div style="text-align: center;">
    <h1 class="title">Lista de Outfit</h1>
  </div>

  <div class="cards-container">
    <div *ngFor="let element of dataSource.data" class="outfit-card">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ element.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ element.to.tipo_ocasion }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Código:</strong> {{ element.id_outfit }}</p>
          <p><strong>Descripción:</strong> {{ element.descripcion }}</p>
          <p><strong>Calificación:</strong> {{ element.calificacion }}</p>
          <p><strong>Creado por:</strong> {{ element.i_creador_por }}</p>
          <p><strong>Modificado por:</strong> {{ element.i_modificado_por }}</p>
          <p><strong>Fecha de Creación:</strong> {{ element.i_fecha_creacion }}</p>
          <p><strong>Fecha de Modificación:</strong> {{ element.i_fecha_modificacion }}</p>
          <p><strong>Imagen:</strong></p>
          <img *ngIf="element.imagen" [src]="element.imagen" alt="Imagen de Producto" class="imagen-img">
          
          <p><strong>Prenda:</strong> {{ element.pr.nombre }}</p>
          <p><strong>Usuario:</strong> {{ element.us.nombre }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-paginator [pageSize]="5" 
                 [pageSizeOptions]="[5, 10, 20]" 
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
