<div class="container" style="margin: 2%">
  <div style="text-align: center;">
    <h1 class="title">Lista de Tipo Ocasion</h1>
  </div>

  <div class="cards-container">
    <div *ngFor="let element of dataSource.data" class="occasion-card">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ element.tipo_ocasion }}</mat-card-title>
          <mat-card-subtitle>Código: {{ element.id_tipo_ocasion }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <mat-paginator [pageSize]="5" 
                 [pageSizeOptions]="[5, 10, 20]" 
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
