<mat-toolbar class="custom-toolbar">
    <mat-icon>menu</mat-icon>
    <div>
      <!-- Menú para Tipo de Ocasión -->
      <button mat-button [matMenuTriggerFor]="menuTipoOcasion" style="color: rgb(255, 255, 255);">Tipo de Ocasión</button>
      <!-- Menú para Tipo de Pago -->
      <button mat-button [matMenuTriggerFor]="menuTipoPago" style="color: rgb(255, 255, 255);">Tipo de Pago</button>
      <!-- Menú para Notificación -->
      <button mat-button [matMenuTriggerFor]="menuNotificacion" style="color: rgb(255, 255, 255);">Notificación</button>
    </div>
  </mat-toolbar>
  
  <!-- Menú desplegable para Tipo de Ocasión -->
  <mat-menu #menuTipoOcasion="matMenu">
    <button mat-menu-item routerLink="/tipoocasion/listar">Listar</button>
    <button mat-menu-item routerLink="/tipoocasion/crear">Registrar</button>
  </mat-menu>
  
  <!-- Menú desplegable para Tipo de Pago -->
  <mat-menu #menuTipoPago="matMenu">
    <button mat-menu-item routerLink="/tipopago/listar">Listar</button>
    <button mat-menu-item routerLink="/tipopago/crear">Registrar</button>
  </mat-menu>
  
  <!-- Menú desplegable para Notificación -->
  <mat-menu #menuNotificacion="matMenu">
    <button mat-menu-item routerLink="/notificaciones">Listar</button>
    <button mat-menu-item routerLink="/notificaciones/nuevo">Registrar</button>
  </mat-menu>
  
  <router-outlet></router-outlet>
  