<div class="container" style="margin: 2%">
  <div style="text-align: center;">
    <h1 class="title">Lista de Tipo de Prenda</h1>
  </div>

  <div class="cards-container">
    <div *ngFor="let element of paginatedData" class="prenda-type-card">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ element.tipo_prenda }}</mat-card-title>
        </mat-card-header>

        <!-- Mostrar detalles resumidos si la tarjeta no está expandida -->
        <mat-card-content *ngIf="expandedCard !== element.id_tipo_prenda">
          <p><strong>Código:</strong> {{ element.id_tipo_prenda }}</p>
        </mat-card-content>

        <!-- Opciones resumidas -->
        <mat-card-actions *ngIf="expandedCard !== element.id_tipo_prenda">
          <button mat-button (click)="verMas(element.id_tipo_prenda)">
            <mat-icon style="color: #405a44">visibility</mat-icon> Ver más
          </button>
        </mat-card-actions>

        <!-- Mostrar detalles completos si la tarjeta está expandida -->
        <mat-card-content *ngIf="expandedCard === element.id_tipo_prenda">
          <p><strong>Código:</strong> {{ element.id_tipo_prenda }}</p>
          <p><strong>Tipo de Prenda:</strong> {{ element.tipo_prenda }}</p>
        </mat-card-content>

        <!-- Botón para regresar al estado resumido -->
        <mat-card-actions *ngIf="expandedCard === element.id_tipo_prenda">
          <button mat-button (click)="regresar()">
            <mat-icon style="color: #405a44">arrow_back</mat-icon> Regresar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-paginator [length]="dataSource.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
